<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das Boot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/beerfavi.png" sizes="any">
</head>

<body class="bg-dark">
    <div class="jumbotron">
        <h1 class="display-1">Tasty Beer Website</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 offset-md-4">
                <h3>What Makes Beer Good?</h3>
            </div>

            <div class="col-md-9 offset-md-2">
                <p>
                    <br>
                    <br>
                <h2>
                    What makes a beer enjoyable? Well for most people, it's if the beer tastes good or not. But from a
                    brewing or sales perspective, that's not very helpful.
                    "This beer is good!" is incredibly subjective. There are many components that go into a beer. How
                    much alcohol is in it? What type is it? Where
                    was it brewed? What aroma notes are there? How bitter is it? What type of yeast was used? Does smell
                    matter more than mouthfeel? Our analysis takes
                    these factors and more into account. By analyzing various data sources, we were able to determine
                    what factors best predict beer enjoyment.
                </h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <form class="bg-dark">
                    <p>Filter Search</p>
                    <ul class="list-group bg-dark">
                        <li class="list-group-item bg-dark">
                            <label for="date">Enter Beer</label><br>
                            <input type="text" placeholder="Bud Light" id="beer_name" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="city">Enter Brewery</label><br>
                            <input type="text" placeholder="Anheuser-Busch" id="brewery_name" />
                        </li>
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="country">Enter Style</label><br>
                            <input type="text" placeholder="IPA" id="beer_style" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter Overall Rating</label><br>
                            <input type="text" placeholder="1 - 5" id="review_overall" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter Aroma Rating</label><br>
                            <input type="text" placeholder="1 - 5" id="review_aroma" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter Appearance Rating</label><br>
                            <input type="text" placeholder="1 - 5" id="review_appearance" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter Palate Rating</label><br>
                            <input type="text" placeholder="1 - 5" id="review_palate" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter Taste Rating</label><br>
                            <input type="text" placeholder="1 - 5" id="review_taste" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label for="shape">Enter ABV %</label><br>
                            <input type="text" placeholder="5.5%" id="beer_abv" />
                        </li><br>
                    </ul>
                </form>
            </div>
            <div class="col-md-9">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% for col in colnames %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                        <tr>
                            {% for col in colnames %}
                            <td>{{ record[col] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
        <!-- <script src="../static/js/data.js"></script>
    <script src="../static/js/app.js"></script> -->
</body>

</html>