<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test your beer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="icon" href="../static/images/beerfavi.png" sizes="any">
</head>

<body class="bg-dark">
    <div class="jumbotron">
        <h1 class="display-1">Das Boot Brewery Consulting</h1>
    </div>
    <!-- Navigation bar -->
    <div class="topnav">
        <div class="topnav-centered">
            <a href="/">Home</a>
            <a class="active" href="/testBeerRecipe">Test Your Beer</a>
            <a href="/visuals">Visuals</a>
        </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Test your beer!</h3>
            </div>
            <div class="col-md-8 offset-md-2">
                <p>
                    <br>
                    <br>
                    By utilizing our innovative Machine Learning algorithm, Das Boot can help your brewery save 
                    time and money, make high-quality beer, and free up company
                    resources for creativity and innovation.
                    Using our free beer recipe tester below, quickly evaluate your recipe metrics and calculate with 72% accuracy 
                    whether or not your recipe will produce a "good" beer with an overal taste rating of 4 or above on a 5-point scale.
                </p>
            </div>
        </div>
    </div>

    <!-- Message Display -->
    <div>
        <div class="container-fluid">
            <!-- Error Message -->
            <div class="err_row">
                <p style="text-align:center;font-size:20px;color:red;">{{err_message}}</p>
            </div>
            <!-- Test Result Message -->
            <div class="msg_row">
                <p style="text-align:center;font-size:30px;color:#CC5200;"><b>{{rst_message}}</b></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form method='POST' class="bg-dark">
                    <p>Your Beer Parameters</p>
                    <ul class="list-group bg-dark">
                        <li class="list-group-item bg-dark">
                            <label >Original Gravity</label><br>
                            <input type="number" step="0.001" placeholder="1 - 1.183" name="og" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label >Final Gravity</label><br>
                            <input type="number" step="0.001" placeholder="0.998 - 1.039" name="fg" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label >International Bitterness Units</label><br>
                            <input type="number" step="0.01" placeholder="0.0 - 124.15" name="ibu" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label >Color Rating</label><br>
                            <input type="number" step="0.01" placeholder="0 - 50" name="color" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label >Alcohol by Volume</label><br>
                            <input type="number" step="0.1"placeholder="0.5 - 29.0" name="beer_abv" />
                        </li>
                        <li class="list-group-item bg-dark">
                            <label >Brew Method</label><br>
                                <select name="brew_method">
                                    <option value="all_grain">All Grain</option>
                                    <option value="biab">Brew in a Bag</option>
                                    <option value="partial_mash">Partial Mash</option>
                                    <option value="extract">Extract Brewing</option>
                                </select>
                        </li>
                        <li class="list-group-item bg-dark">
                            <input type="submit" id="submit" />
                        </li>
                        <br>
                    </ul>
                </form>
            </div>

            <!-- Result/Error Image Display -->
            <div class="col-md-6 ">
                <p style="text-align:center;"><img src='{{result_image}}'/></p>
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>
</html>
