<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/beerfavi.png" sizes="any">
</head>

<body class="bg-dark">
    <!-- <div class="wrapper">
        <nav class="navbar navbar-dark bg -dark navbar-expand-lg">
            <a class="navbar-brand" href="index.html">UFO Sightings</a>
        </nav>
    </div> -->
    <div class="jumbotron">
        <div class="visuals-jumbotron">
            <h1 class="display-1">Using AI to Predict Beer</h1> 
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>How Can We Predict Beer Tasting Good?</h3>
            </div>
            
            <div class="col-md-8 offset-md-2">
                <p>
                    <br>
                    <br>
                    By utilizing our innovative Machine Learning algorithm, Das Boot can help your brewery save 
                    time and money, make high-quality beer, and free up company
                    resources for creativity and innovation.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class = "col-md-10 offset-md-2">
        <p>
            <br>
            <br>
            What goes features are important when reviewing if a beer will be good or not? Our algerithm measures several
            different features focusing on ABV, or alcohol by volume, appearance, aroma, and color. We compare the overall score,
            palate, and review count against taste to dermine what makes a good beer.
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "abv col-md-10 offset-md-2">
        <p>
            We used a supervised machine learning module to test what features come into play when determining if a beer is good or not.
            <link rel="images" href="../static/images/ABV_vs_taste.PNG" sizes="any">
            <br>
            <br>
            Based on our findings, the ABV doesn't play any part on whether or not a beer tastes good. 
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "appearance col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/appearance_vs_taste.PNG" sizes="any">
            <br>
            <br>
            The next feature we tested out was whether or not appearance had any affect on taste. While it may be shocking at first to
            see that there is a positive correlation between the appearance and taste of the beer, the reasoning makes sense.
            The type of glass that the beer is served in, the head and the head retention, and the lacing after taking a nice long sip
            all play an important factor when it comes to the appearance of the beer. 
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "aroma col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/aroma_vs_taste.PNG" sizes="any">
            <br>
            <br>
            How many people want to drink a beer that smells like the men's locker room? Not very many with the aroma being one of the most
            important features when it comes to determining a good beer. Smell is such an important part of determining if we like something,
            and that doesn't stop for beer.
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "color col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/color_vs_taste.PNG" sizes="any">
            <br>
            <br>
            The color has no correlation when it comes to how well a beeer tastes. 
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "overall col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/overall_vs_taste.PNG" sizes="any">
            <br>
            <br>
            Not supprisingly the better the overall score, the better the beer tastes!
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "palate col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/palate_vs_taste.PNG" sizes="any">
            <br>
            <br>
            Text goes here.
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "review_count col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/review_count_vs_taste.PNG" sizes="any">
            <br> 
            <br>
            Text goes here.
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "highest_review_count col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/highest_review_count_styles.PNG" sizes="any">
            <br>
            <br>
            Some of the highest reviewed beers are ales with 6 of the 7 most reviewed beers being ales. The only one that is not an ale is the 
            Russian Imperial Stout which comes in second to the most reviews behind the American Double IPA.
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "highest_reviewed_beer col-md-10 offset-md-2">
        <p>
            <link rel="icon" href="../static/images/highest_reviewed_beer_styles.PNG" sizes="any">
            <br>
            <br>
            While ales may be some of the most reviewed beers, that doesn't mean they are all the best. Only the American Double IPA made the top 7 
            highest rated beer list coming in second behind the American Double Stout. The most supprising result is Lambric Fruit coming in 7th, which
            is a sour beer. 
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class = "beer tester col-md-10 offset-md-2">
        <p>
            Using our free beer recipe tester below, quickly evaluate your recipe metrics and calculate with 77% accuracy 
            whether or not your recipe will produce a well-reviewed beer.
            <br>
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>

</html>