<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das Boot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/beerfavi.png" sizes="any">
</head>

<body class="bg-dark">
    <div class="jumbotron">
        <h1 class="display-1">Tasty Beer Website</h1>
    </div>
    <!-- Navigation bar -->
    <div class="topnav">
        <div class="topnav-centered">
            <a href="/">Home</a>
            <a href="/testBeerRecipe">Test Your Beer</a>
            <a class="active" href="/visuals">Visuals</a>
        </div>

      </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Amazing Visuals!</h3>
            </div>
            <div class="col-md-8 offset-md-2">
                <p>
                    <br>
                    <br>
                    Mind blowing images
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</body>

</html>