<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das Boot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/beerfavi.png" sizes="any">
</head>

<body class="bg-dark">
    <div class="jumbotron">
        <h1 class="display-1">Das Boot Brewery Consulting</h1>
    </div>
    <!-- Navigation bar -->
    <div class="topnav">
        <div class="topnav-centered">
            <a href="/">Home</a>
            <a href="/testBeerRecipe">Test Your Beer</a>
            <a class="active" href="/visuals">Visuals</a>
        </div>

      </div>
      <div class="container-fluid">
        <div class="row">
            <div class = "col-md-6 offset-md-3">
                <h3>Using AI to Brew Better Beer</h3>
            </div>
                <div style="text-align: center;">
                    <div class = "col-md-10 offset-md-3">
                        <p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="../static/images/hops.jpg" alt="ABV">
        </div>        
    <div style="text-align: center;">
        <div class = "col-md-8 offset-md-2">
            <p>
                <br>
                <br>
                Balancing the art of brewing beer with modern approaches to decision-making can lead to a beautiful marriage between taste and efficiency.
                Das Boot's Data Analysis team has analyzed over one million beers and discovered the following relationships which are important
                for any successful brewery to understand.
                <br>
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
            <div style="text-align: center;">
                <img src="../static/images/overall_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        Brewers and beer enthusiasts alike often rate beer on four categories: appearance, aroma, color and taste.  Das Boot has determined that 
                        the rating metric that contributes most weightily to a beer's overall rating is the taste.  Since a great tasting beer is equivalant to a great
                        overall beer, it is useful to investigate what factors contribute to a great tasting beer.

                    </p>
                </div>
            </div>
        </div>
            <div style="text-align: center;">
                <img src="../static/images/appearance_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        While it may be surprising at first to
                        learn that there is a relatively strong positive correlation between the appearance and taste of a beer, it makes sense.
                        The type of glass that the beer is served in, the head and the head retention, and the lacing after taking a nice long sip
                        all play an important role when it comes to enjoying a pint. 
                    </p>
                </div>
            </div>
        </div>
            <div style="text-align: center;">
                <img src="../static/images/aroma_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        How many people want to drink a beer that smells like the men's locker room?  None.
                        There is a very strong positive correlation between aroma and taste of beer. The sense of smell is very closely linked with taste
                        and that is as true for beer as any other food.  Even a great tasting beer will not be successful if the aroma is off-putting.
                        <br>
                    </p>
                </div>
            </div>
        </div>
            <div style = "text-align: center;">
                <img src="../static/images/color_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        There is very little correlation between color and taste of a beer.  This visualization, however, includes over one million
                        different styles of beer.  A successful brewer should remember that color may not be important to overall taste, but consumers will generally expect
                        Pilsners to be pale, and stouts to be dark.  

                        Green beer, for example, would ordinarily be unappealing, but once a year it's a fan favorite!
                        <br>
                    </p>
                </div>
            </div>
        </div>
            <div style="text-align: center;">
                <img src="../static/images/ABV_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        Alcohol by Volume is another parameter that seems to have very little effect on beer taste.  There are great tasting beers of various alcohol levels across almost
                        all beer styles.
                    </p>
                </div>
            </div>
        </div>
            <div style="text-align: center;">
                <img src="../static/images/palate_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        Novice beer reviewers may question what exactly a 'palate' review might entail.  Generally,
                        this is where carbonation, mouthfeel and bitterness may contribute to a reviewer's rating.
                        Not surprisingly then, palate is closely correlated to taste.
                    </p>
                </div>
            </div>
        <!-- </div> -->
            <!-- <div style="text-align: center;">
                <img src="../static/images/review_count_vs_taste.PNG" alt="ABV" width="577.5" height="391.5">
            </div> -->
            <!-- <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        Text goes here.
                    </p>
                </div>
            </div> -->
        <!-- </div> -->
            <div style="text-align: center;">
                <img src="../static/images/highest_review_count_styles.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        According to information from BeerAdvocate, these beers have the highest number of reviews.  One could infer that these beers are quite popular
                        since there are so many beer drinkers posting reviews about these beers.   
                    </p>
                </div>
            </div>
        </div>
            <div style="text-align: center;">
                <img src="../static/images/highest_reviewed_beer_styles.PNG" alt="ABV" width="577.5" height="391.5">
            </div>
            <div class="col-md-9 offset-md-2">
                <div style="text-align: center;">
                    <p>
                        <br>
                        While ales may be some of the most reviewed beers, that doesn't mean they are the most highly rated. Only the American Double IPA made the top 7 
                        lists for both highest number of reviews and highest average rating.  Interestingly, a sour beer made the list, coming in 7th on our list of highest average rating.
                    </p>
                </div>
            </div>
        </div>
    <!-- <div style="text-align: center;">
        <p>
            <br>
            <br>
            Using our free beer recipe tester below, quickly evaluate your recipe metrics and calculate with 77% accuracy 
            whether or not your recipe will produce a well-reviewed beer.
            <br>
        </p>
    </div> -->
</html>